@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

$backgroundColor: #2B7A78;
$accentColor: #3AAFA9;
$secondaryBackgroundColor: #DDEEFF;
$textColor: #17252A;
$mainFont: 'Montserrat', sans-serif;
$headerFontSize: 2.5rem;
